<div class="form-group">
  <div class="col-md-6 mb-3">
    <Label>İsim Soyisim</Label>
  <input type="text" class="form-control" name="anakart" id="anakart" required/>
</div>
</div>
<div class="form-group">
  <div class="col-md-6 mb-3">
    <Label>Mail</Label>
  <input type="text" class="form-control" name="anakart" id="anakart" required/>
</div>
</div>
<div class="form-group">
  <div class="col-md-6 mb-3">
    <Label>Telefon No</Label>
  <input type="text" class="form-control" name="anakart" id="anakart" required/>
</div>
</div>
<div class="form-group">
  <div class="col-md-6 mb-3">
    <Label>Sorun</Label>
  <input type="text" class="form-control" name="anakart" id="anakart" required/>
</div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ekle
</button>