/* table {
    counter-reset: row-num-1;
  }
  table tr {
    counter-increment: row-num;
  }
  table tbody tr th:first-child::before {
      content: counter(row-num) " ";
  } */

  accordion accordion-group table tr {
    counter-increment: row-num;
  }
  accordion accordion-group table tbody tr th:first-child::before {
      content: counter() " ";
  }

  accordion accordion-group table tr {
    counter-increment: row-num;
  }
  accordion accordion-group ng-container table tbody tr th:first-child::before {
      content: counter() " ";
  }