.content {
    position: relative;
  }
  #right-panel-link {
    position: absolute;
    top: 67px;
    right: 100px;
  }
  #right-panel-link1 {
    position: absolute;
    top: 150px;
    right: 100px;
  }
  #right-panel-link2 {
    position: absolute;
    top: 150px;
    right: 250px;
  }